$screen-m: 768px;
$typist-left: calc(50vw - 691px / 2);
$typist-top: calc(50vh - 108px / 2);

.designer-section-items {
  position: absolute;
  top: $typist-top;
}

.designer-section-typist {
  position: relative;
  left: $typist-left;
  white-space: nowrap;

  .link {
    padding: 4px 8px;
  }
}

.designer-section-items h3:not(:first-child) {
  margin-top: 28px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* , Copied from node_modules/react-typist/dist/Typist.css */

.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
