.designer-section-area {
  button {
    position: absolute;
    top: calc(100vh - 150px);
  }

  .projects-button-sticky {
    position: fixed;
    top: 40px;
  }
}

.designer-section-area-industrial {
  button {
    left: 100px;
  }
}

.designer-section-area-digital {
  button {
    right: 100px;
  }
}

.designer-section-image {
  position: absolute;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
}
