@import "../variables";

.navigator {
  position: absolute;
  z-index: 3;
  left: 30px;
  width: 60px;
  top: 50%;
  transform: translateY(-50%);

  .vertical-line {
    height: 24px;
  }
}

.navigator-item {
  height: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigator-item-text {
  display: none;
  margin-left: 12px;
}

.navigator-item-active {
  .navigator-item-text {
    display: block;
    font-weight: 600;
  }
  .vertical-line {
    border-width: 3px;
  }
}

.navigator-item:not(.navigator-item-active):hover {
  .navigator-item-text {
    display: block;
  }
}

.navigator-dark {
  color: $text-color-dark;
}

.navigator-right {
  right: 30px;
  left: initial;
  .navigator-item {
    flex-direction: row-reverse;
  }
  .navigator-item-text {
    margin-left: 0px;
    margin-right: 12px;
  }
}

.animate-navigator-in {
  animation: fadein 0.5s forwards;
}

.animate-navigator-out {
  animation: fadeout 0.5s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
