@import "../variables";

.project-catalog {
  opacity: 0;
  height: 100%;
  width: $catalog-width;
  position: absolute;
  box-sizing: border-box;
  padding: 40px 48px;
  border-right: 1px solid $text-color-light;
  color: $text-color-light;
  z-index: 2;
  background-color: $background-color-dark-cover-transparent;

  ul {
    margin-top: 24px;
  }

  button {
    width: 100%;
    height: 50px;
    text-align: left;
    border: none;
  }

  .project-catalog-active-project button {
    background-color: $background-color-light-selected;
    border: 1px solid $text-color-light;
    padding-left: 20px;
  }

  .project-catalog-active-project button:hover {
    background-color: $background-color-ultralight-hover;
  }
}

.project-catalog-dark {
  color: $text-color-dark;
  border-color: $text-color-dark;
  background-color: $background-color-light-cover-transparent;

  button {
    color: $text-color-dark;
    border-color: $text-color-dark;
  }

  button:hover {
    background-color: $background-color-ultralight-hover;
  }

  .project-catalog-active-project button {
    background-color: $background-color-ultralight-selected;
    border-color: $text-color-dark;
  }

  .project-catalog-active-project button:hover {
    background-color: $background-color-hyperlight-hover;
  }
}

.project-section-digital {
  .project-catalog {
    right: 0px;
    border-left: 1px solid $text-color-light;
    border-right: none;
  }
  .project-catalog-dark {
    border-color: $text-color-dark;
  }
}

.project-catalog-projects {
  li {
    margin-bottom: 8px;
  }
}

/* Animation */
.project-section.project-section-animation-enter {
  .project-catalog {
    animation: moveup 0.5s forwards;
    animation-delay: 0s;
  }
}

.project-section.project-section-animation-exit {
  .project-catalog {
    animation: fadeout 0.5s forwards;
    animation-delay: 0;
  }
}

@keyframes moveup {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
