.project-card {
  height: 100%;
}

.project-card-image-wrapper {
  position: relative;
  height: 100%;

  img {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img.contain {
    width: auto;
    max-width: 100%;
    object-fit: contain;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
  }
}

.project-section-industrial {
  img.contain {
    padding-left: 300px;
  }
}

.project-section-digital {
  img.contain {
    padding: 70px;
    padding-right: 400px;
  }
}

.project-card-description-wrapper {
  opacity: 0;
  position: absolute;
  top: 72px;
  right: 80px;
  width: 300px;

  .vertical-line {
    left: -24px;
  }
}

.project-card-description-text {
  line-height: 30px;
  text-align: justify;
}

.project-card-description-tag-wrapper {
  display: flex;
  margin-top: 16px;
}

.project-card-description-tag {
  display: flex;
  img {
    margin-left: 4px;
    align-self: center;
    width: 18px;
  }
  p {
    margin-left: 6px;
  }
}

.project-card-description-tag:not(:first-of-type) {
  margin-left: 16px;
}

/* Animation */
.animate-card-fade-in {
  animation: fadein 0.8s forwards;
  animation-delay: 0.3s;
}

.animate-card-fade-out {
  animation: fadeout 0.5s forwards;
}

.animate-description-text-element-in {
  animation: fadeindescription 1s forwards;
  animation-delay: 0.5s;
}

.animate-description-element-element-out {
  animation: fadeoutdescription 1s forwards;
  animation-delay: 0;
}

.animate-description-vertical-line {
  animation: linedowndescription 0.8s forwards;
  animation-delay: 0.4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeindescription {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeoutdescription {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes linedowndescription {
  0% {
    height: 0px;
  }
  100% {
    height: 100%;
  }
}
