$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1200px;
$project-catalog-width: 360px;
$project-card-width: calc(100vw - 360px);
$project-card-width-negative: calc(360px - 100vw);

.project-section {
  width: 100%;
  height: 100%;
  display: flex;
}

.project-catalog {
  display: none;
  position: absolute;
  box-sizing: border-box;
  width: $project-catalog-width;
  height: 100%;
  padding-top: 40px;
  background-color: black;
  color: white;

  h2 {
    padding-left: 40px;
  }

  h3 {
    margin-top: 0px;
  }

  li {
    padding: 12px 0px 12px 48px;
  }

  @media only screen and (min-width: $screen-m) {
    display: block;
  }
}

.project-catalog-active-project {
  background-color: #2f2f2f;
  padding-left: 54px !important;
}
.project-card {
  position: absolute;
  width: 100%;
  height: 100%;

  @media only screen and (min-width: $screen-m) {
    width: $project-card-width;
  }
}

.project-card-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img.animate-card-fade-in {
    animation: fadein 1s forwards;
    animation-delay: 0.1s;
  }

  img.animate-card-fade-out {
    animation: fadeout 0.5s forwards;
  }
}

.project-card-text-wrapper {
  position: absolute;
  top: 0px;
}

.project-card-description {
  padding: 30px 30px 0px;
  width: 210px;
  @media only screen and (min-width: $screen-m) {
    padding: 65px 40px 0px;
    width: 260px;
  }
}

.project-section-industrial {
  .project-card {
    left: 100vw;
  }
  .project-card-text-wrapper {
    left: 0px;
  }
  .project-catalog {
    left: -$project-catalog-width;
  }
}

.project-section-digital {
  .project-card {
    justify-content: flex-end;
    left: $project-card-width-negative;
    .project-card-description {
      text-align: right;
    }
  }
  .project-card-text-wrapper {
    right: 0px;
  }
  .project-catalog {
    left: 100vw;
  }
}

.project-section-industrial.project-section-animate {
  .animate-card-in {
    @media only screen and (min-width: $screen-m) {
      animation: industrialCardEnter 0.7s forwards;
      animation-delay: 0.5s;
    }
  }

  .animate-card-out {
    @media only screen and (min-width: $screen-m) {
      animation: industrialCardExit 0.7s forwards;
    }
  }

  .animate-catalog-in {
    @media only screen and (min-width: $screen-m) {
      animation: industrialCatalogEnter 0.5s forwards;
    }
  }

  .animate-catalog-out {
    @media only screen and (min-width: $screen-m) {
      animation: industrialCatalogExit 0.5s forwards;
    }
  }
}

.project-section-digital.project-section-animate {
  .animate-card-in {
    @media only screen and (min-width: $screen-m) {
      animation: digitalCardEnter 0.7s forwards;
      animation-delay: 0.5s;
    }
  }

  .animate-card-out {
    @media only screen and (min-width: $screen-m) {
      animation: digitalCardExit 0.7s forwards;
    }
  }

  .animate-catalog-in {
    @media only screen and (min-width: $screen-m) {
      animation: digitalCatalogEnter 0.5s forwards;
    }
  }

  .animate-catalog-out {
    @media only screen and (min-width: $screen-m) {
      animation: digitalCatalogExit 0.5s forwards;
    }
  }
}

.project-section-digital.project-section-animate.project-section-slide {
  .animate-catalog-in {
    @media only screen and (min-width: $screen-m) {
      animation: catalogLeftToRight 0.7s forwards;
    }
  }

  .animate-card-in {
    @media only screen and (min-width: $screen-m) {
      animation: digitalCardEnter 0.7s forwards;
    }
  }
}

.project-section-industrial.project-section-animate.project-section-slide {
  .animate-catalog-in {
    @media only screen and (min-width: $screen-m) {
      animation: catalogRightToLeft 0.7s forwards;
    }
  }

  .animate-card-in {
    @media only screen and (min-width: $screen-m) {
      animation: industrialCardEnter 0.7s forwards;
    }
  }
}

.project-section-button-wrapper {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
}

.project-section-button-wrapper-left {
  left: 40px;
}

.project-section-button {
  display: flex;
  width: min-content;
  margin-bottom: 5px;
  h4 {
    margin: 0px 5px;
  }
  svg {
    margin-top: 1px;
  }
}

.project-section-button-left {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

@keyframes industrialCardExit {
  from {
    left: $project-catalog-width;
  }
  to {
    left: 100vw;
  }
}

@keyframes industrialCardEnter {
  from {
    left: 100vw;
  }
  to {
    left: $project-catalog-width;
  }
}

@keyframes industrialCatalogEnter {
  from {
    left: -$project-catalog-width;
  }
  to {
    left: 0;
  }
}

@keyframes industrialCatalogExit {
  from {
    left: 0;
  }
  to {
    left: -$project-catalog-width;
  }
}

@keyframes digitalCardEnter {
  from {
    left: $project-card-width-negative;
  }
  to {
    left: 0;
  }
}

@keyframes digitalCardExit {
  from {
    left: 0;
  }
  to {
    left: $project-card-width-negative;
  }
}

@keyframes digitalCatalogExit {
  from {
    left: $project-card-width;
  }
  to {
    left: 100vw;
  }
}

@keyframes digitalCatalogEnter {
  from {
    left: 100vw;
  }
  to {
    left: $project-card-width;
  }
}

@keyframes catalogLeftToRight {
  from {
    left: 0;
  }
  to {
    left: $project-card-width;
  }
}

@keyframes catalogRightToLeft {
  from {
    left: $project-card-width;
  }
  to {
    left: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
