@import "../variables";

.project-catalog {
  opacity: 0;
  width: $catalog-width;
  height: 100%;
  transition: width 1s, padding 1s;
  position: absolute;
  box-sizing: border-box;
  padding: 40px 70px;
  color: $text-color-light;
  z-index: 3;
  background-color: $background-color-dark-cover-transparent;

  h2,
  h4 {
    white-space: nowrap;
    opacity: 0;
  }

  img {
    opacity: 0;
  }

  ul {
    margin-top: 24px;
  }

  button {
    width: 100%;
    height: 45px;
    text-align: left;
    border: none;
  }

  .project-catalog-active-project button {
    background-color: $background-color-light-selected;
    border: 1px solid $text-color-light;
    padding-left: 16px;
    padding-right: 16px;
    @media screen and (max-width: $mobile-max) {
      background-color: $background-color-light-selected;
    }
  }

  .project-catalog-active-project button:hover {
    background-color: $background-color-ultralight-hover;
  }

  .vertical-line {
    height: calc(50% - 16px);
    left: $catalog-width;
    transition: left 1s;
  }

  .vertical-line-top {
    top: 0px;
  }

  .vertical-line-bottom {
    bottom: 0px;
  }

  .vertical-line-mobile {
    top: 0px;
    height: 100%;
    left: unset;
    right: $catalog-width-mobile;
  }

  @media screen and (max-width: $mobile-max) {
    display: flex;
    flex-direction: column;
    right: 0px;
    width: $catalog-width-mobile;
    padding: 104px 30px 0px;
    background-color: $background-color-dark;
    ul {
      margin-top: 0px;
    }

    button {
      height: 45px;
    }

    .project-catalog-active-project button {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.project-catalog-dark {
  color: $text-color-dark;
  border-color: $text-color-dark;
  background-color: $background-color-light-cover-transparent;

  button {
    color: $text-color-dark;
    border-color: $text-color-dark;
  }

  button:hover {
    background-color: $background-color-ultralight-hover;
  }

  .project-catalog-active-project button {
    background-color: $background-color-ultralight-selected;
    border-color: $text-color-dark;
  }

  .project-catalog-active-project button:hover {
    background-color: $background-color-hyperlight-hover;
  }
  @media screen and (max-width: $mobile-max) {
    background-color: $background-color-light;
  }
}

.project-catalog-projects {
  margin-left: 6px;
  margin-right: 6px;
  li {
    margin-bottom: 8px;
  }
  img {
    object-fit: contain;
  }
  @media screen and (max-width: $mobile-max) {
    margin-top: 0px;
    width: 250px;
  }
}

.project-catalog-expand-button {
  position: absolute;
  top: 50%;
  left: $catalog-width;
  transition: left 1s;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 50%,
    $background-color-dark-cover-transparent 50%
  );
  border: 1px solid;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg {
    height: 24px;
    width: 24px;
  }
}
.project-catalog-expand-button:hover {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 100%,
    $background-color-dark-cover-transparent 0%
  );
  background-color: $background-color-light-hover-no-alpha;
}

.project-catalog-compressed {
  width: $catalog-collapsed-width;
  padding-left: 30px !important;
  padding-right: 30px !important;
  transition: width 1s, padding 1s;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .project-catalog-expand-button {
    position: absolute;
    left: $catalog-collapsed-width;
    transition: left 1s;
  }
  .vertical-line {
    left: $catalog-collapsed-width;
    transition: left 1s;
  }
}

.project-section-digital {
  .project-catalog {
    right: 0px;
    padding: 40px 48px;

    @media screen and (max-width: $mobile-max) {
      padding: 104px 30px 0px;
    }
  }
  .project-catalog-dark {
    border-color: $text-color-dark;
  }
  .project-catalog-expand-button {
    right: $catalog-width;
    transition: right 1s;
    left: auto;
    transform: translate(50%, -50%);
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 50%,
      $background-color-light-cover-transparent 50%
    );
  }
  .project-catalog-expand-button:hover {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 100%,
      $background-color-dark-cover-transparent 0%
    );
    background-color: $background-color-ultralight-hover-no-alpha;
  }

  .vertical-line {
    right: $catalog-width;
    transition: right 1s;
    left: auto;
  }

  .vertical-line-mobile {
    left: unset;
    right: $catalog-width-mobile;
  }

  .project-catalog-compressed {
    .project-catalog-expand-button {
      right: $catalog-collapsed-width;
    }
    .vertical-line {
      right: $catalog-collapsed-width;
    }
  }
}

/* Animation */

.project-section-animation-static {
  .project-catalog {
    top: 0px;
    opacity: 1;
  }
}

.project-section.project-section-animation-enter {
  .project-catalog {
    animation: moveup 0.5s forwards;
    animation-delay: 0.2s;
  }
}

.project-section.project-section-animation-exit {
  .project-catalog {
    opacity: 0;
  }
}

.animate-catalog-expand {
  h2 {
    animation: fadein 0.5s forwards;
    animation-delay: 0.6s;
  }
  h4 {
    animation: fadein 0.5s forwards;
    animation-delay: 0.4s;
  }
  img {
    opacity: 0;
  }

  @media screen and (max-width: $mobile-max) {
    h2 {
      animation: fadein 0.5s forwards;
    }
    h4 {
      animation: fadein 0.5s forwards;
    }
  }
}

.animate-catalog-compress {
  h2,
  h4 {
    opacity: 0;
  }
  img {
    animation: fadein 0.5s forwards;
    animation-delay: 0.2s;
  }
}

.project-catalog-animate-open {
  @media screen and (max-width: $mobile-max) {
    animation: moveleftopen 1s forwards;
  }
}

.project-catalog-static-closed {
  display: none;
}

.project-catalog-animate-close-selection {
  @media screen and (max-width: $mobile-max) {
    animation: fadeoutclose 0.5s forwards;
  }
}

.project-catalog-animate-close-noselection {
  @media screen and (max-width: $mobile-max) {
    animation: moverightclose 1s forwards;
  }
}

@keyframes moveup {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveleftopen {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0%;
  }
}

@keyframes moverightclose {
  from {
    opacity: 0.95;
    left: 0%;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

@keyframes fadeoutclose {
  from {
    opacity: 1;
    left: 0%;
  }
  99% {
    opacity: 0;
    left: 0%;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
