@import "../variables";

.project-card-controls {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 2;
  color: $text-color-light;
}

.project-card-controls-dark {
  color: $text-color-dark;
}

.project-card-control-buttons-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    font-size: 32px;
  }
}

.project-card-control-buttons-container-wide {
  width: 380px;
}

.project-card-controls-image-buttons {
  display: flex;

  span {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0px 5px;
    border: 1.5px solid $text-color-dark;
    background-color: $element-color-mid;
    border-radius: 50%;
    display: inline-block;
  }

  span.project-card-controls-image-active-button {
    background-color: $element-color-mid-selected;
  }

  span:not(.project-card-controls-image-active-button):hover {
    background-color: $element-color-mid-hover;
  }
}

.project-section-digital {
  .project-card-controls {
    width: $catalog-remaining-width;
    transition: width 1s;
  }
  .project-card-controls-compressed {
    width: $catalog-collapsed-remaining-width;
    transition: width 1s;
  }
}

/* Animation */

.project-section.project-section-animation-enter {
  .project-card-controls {
    animation: fadein1 0.8s forwards;
  }
}

.project-section.project-section-animation-exit {
  .project-card-controls {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
