@import "../variables";

.project-card-controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  color: $text-color-light;
}

.project-card-controls-dark {
  color: $text-color-dark;
}

.project-card-control-buttons-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    font-size: 32px;
  }
}

.project-card-controls-image-buttons {
  display: flex;

  span {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0px 5px;
    border: 1.5px solid $text-color-dark;
    background-color: $element-color-mid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
  }

  span.project-card-controls-image-active-button {
    background-color: $element-color-mid-selected;
  }

  span:not(.project-card-controls-image-active-button):hover {
    background-color: $element-color-mid-hover;
  }
}
