.project-catalog {
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 40px 48px;
  border-right: 1px solid white;
  color: white;
  z-index: 1;

  ul {
    margin-top: 24px;
  }

  button {
    width: 200px;
    height: 50px;
    text-align: left;
    border: none;
  }

  .project-catalog-active-project button {
    background-color: rgba($color: white, $alpha: 0.2);
    border: 1px solid white;
    padding-left: 20px;
  }
}

.project-catalog-dark {
  color: black;
  border-color: black;

  button {
    color: black;
    border-color: black;
  }

  .project-catalog-active-project button {
    background-color: rgba($color: black, $alpha: 0.2);
    border-color: black;
  }
}

.project-section-digital {
  .project-catalog {
    right: 0px;
    border-left: 1px solid white;
    border-right: none;
  }
  .project-catalog-dark {
    border-color: black;
  }
}
