@import "../variables";

.project-card-carousel {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: 1;
}

.project-card-carousel-main-area-cover {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.project-card-carousel-image-container {
  margin: 120px 0px;
  height: 0;
  flex: 1;
  background-color: $background-color-black;
  position: relative;
}

.project-card-carousel-image-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
.project-card-carousel-image-wrapper-active {
  display: block;
}

.project-card-carousel-close-button {
  position: absolute;
  top: 30px;
  right: 60px;
}

.project-card-carousel-next-buttons {
  > * {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 32px !important;
  }

  > :first-of-type {
    left: 60px;
  }
  > :nth-of-type(2) {
    right: 60px;
  }
}

.project-card-carousel-image-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  span {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 5px;
    border: 1px solid $text-color-dark;
    background-color: $element-color-mid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
  }

  span.project-card-carousel-image-active-button {
    background-color: $element-color-mid-selected;
  }

  span:not(.project-card-carousel-image-active-button):hover {
    background-color: $element-color-mid-hover;
  }
}
