.project-card-carousel {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: 1;
}

.project-card-carousel-image-container {
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: black;
}

.project-card-carousel-image-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(100% - 300px);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.project-card-carousel-image-wrapper-active {
  display: block;
}

.project-card-carousel-next-buttons {
  button {
    top: 50%;
    position: absolute;
  }

  button:first-of-type {
    left: 50px;
  }
  button:nth-of-type(2) {
    right: 50px;
  }
}
.project-card-carousel-image-buttons {
  position: absolute;
  bottom: 170px;
  left: 50%;
  height: 50px;
}
