$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1200px;

body {
  overflow: hidden;
  margin: 0;
  font-family: "Avenir", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: white;
}

#root {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 32px;
  font-family: "Arvo", serif;
  font-weight: 300;
  @media only screen and (min-width: $screen-m) {
    font-size: 36px;
    margin-bottom: 16px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 100;
  @media only screen and (min-width: $screen-m) {
    font-size: 28px;
    margin: 24px 0px 16px;
  }
}

h3 {
  font-size: 16px;
  font-weight: 400;
  @media only screen and (min-width: $screen-m) {
    font-size: 22px;
    margin: 16px 0px 8px;
  }
}

h4 {
  font-weight: normal;
  font-size: 12px;
  @media only screen and (min-width: $screen-m) {
    font-size: 18px;
  }
}

li,
p {
  font-size: 12px;
  @media only screen and (min-width: $screen-m) {
    font-size: 14px;
  }
}

ul {
  list-style-type: none;
}

/* Buttons */

.no-style-button {
  font: inherit;
  color: inherit;
  background: inherit;
  border: none;
  outline: none;
  cursor: text;
}

.link-button {
  cursor: pointer;
  padding: 4px 16px;
  border: 1px solid white;
  background: none;
  color: white;
  font: inherit;
}

.link-button:focus {
  outline: 0;
}

.link-button:hover {
  background-color: rgba($color: #ffffff, $alpha: 0.2);
}

.link-button-narrow {
  padding: 4px 8px;
}

.link-button-dark {
  color: black;
  border: 2px solid black;
}

.link-button-dark:hover {
  background-color: rgba($color: #000000, $alpha: 0.1);
}

.icon-button {
  display: flex;
  align-items: center;

  h3 {
    margin: 4px 8px;
    font-weight: 300;
  }
}

.disabled-button {
  cursor: text;
}
.disabled-button:hover {
  background: none;
}

/* Elements */

.horizontal-line {
  border-top: 1px solid white;
  margin: 16px 0px;
  width: 100%;
}

.vertical-line {
  position: absolute;
  width: 1px;
  height: 0px;
  background-color: white;
}

.hide-element {
  display: none !important;
}
